# fly.toml app configuration file generated for railway-sshh-qbxzfq on 2025-11-09T17:15:28Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'railway-sshh-qbxzfq'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
